@import '../../scss/index.scss';
.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__content {
		width: 360px;
		padding: 20px;
		position: relative;
		box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.5);
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin-bottom: 24px;
		margin-left: 7px;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.04em;
	}
}