@import '../../scss/index.scss';

.btn {
	max-width: 200px;
	display: block;
	padding: 14px 15px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	border-radius: 8px;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	border: 2px solid #c7d0d4;
}

.btn:hover {
	background-color: rgba(182, 178, 178, 0.5);
	transition: 500ms;
}
