@import '../../scss/index.scss';

.form {
	&__content {
		margin: auto;
		width: 360px;
		padding: 20px;
		box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.5);
		border-radius: 8px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin-bottom: 24px;
		margin-left: 7px;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.04em;
	}
}

.checkboxWrapper {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.checkbox {
	margin-right: 10px;
}

.checkboxLabel {
	font-size: 14px;
	color: #333;
}

.policy {
	text-decoration: underline;
	margin-bottom: 20px;
}