@import '../../scss/index.scss';

.welcome{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	&__title {
		font-size: 18px;
		line-height: 30px;
		text-align: center;
	}
	&__btn {
		min-width: 150px;
		max-width: 150px;
		margin: 0 auto;
		padding-top: 30px;
	}
}