@import '../../scss/index.scss';
.keyButton {
  width: 49px;
  height: 49px;
  line-height: 42px;
  font-size: 15px;
  border: 1px solid #c7d0d4;
  background: #fff;
  margin: 1px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
.specialLetters {
	color: #95a0a4;
	font-size: 10px;
}
.backspace {
	width: 75px;
	text-align: right;
}
.tab {
	width: 75px;
	text-align: left;
}
.caps {
	width: 87px;
	text-align: left;
}
.enter {
	width: 88px;
	text-align: right;
}
.shift {
	width: 113px;
	text-align: left;
	color: #95a0a4;
	font-size: 10px;
}
.shift:last-child {
	text-align: right;
}
.globus {
	width: 49px;
}
.space {
	width: 312px;
	text-align: right;
}
.alt {
	width: 88px;
	text-align: right;
}
.icon {
	font-size: 3em;
}