@import '../../scss/index.scss';

.header {
	padding-top: 10px;
	&__content {
		padding: 0 20px 0 20px;
		.nav {
			display: flex;
			justify-content: space-between;
			.nav__logo {
				.link {
					display: flex;
					font-size: 38px;
					align-items: center;
					.logo {
						margin-right: 10px;
						width: 70px;
						height: 70px;
					}
				}
			}
			.nav__list {
				display: flex;
				font-size: 20px;
				align-items: center;
				column-gap: 20px;
			}
		}
	}
}

.btnShow {
	position: relative;
}

.btnShow .btnHidden {
	padding-top: 10px;
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	transform: translateY(10px);
	transition: transform 0.3s ease;
}

.btnShow:hover .btnHidden {
	visibility: visible;
	transform: translateY(0);
}
