@import '../../scss/index.scss';

.indicators {
	width: 200px;
	display: flex;
	justify-content: space-around;
	border: 1px solid #d9d9d9;
	&__value {
		margin-left: 5px;
	}
}

.first {
	
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.last {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.indicator {
	display: flex;
	font-size: 12px;
	font-family: 'PT Mono', monospace;
	padding: 10px;
	align-items: center;
	padding-right: 20px;
}

.numbers {
	width: 40px;
}

.logo {
	font-size: 2em;
	margin-right: 15px;
}
