@import '../../scss/index.scss';

.indicators {
	min-width: 120px;
	display: flex;
	justify-content: space-around;
	border: 1px solid #d9d9d9;
	&__value {
		margin-left: 5px;
	}
}

.first {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.last {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.indicator {
	text-align: center;
	display: flex;
	font-size: 12px;
	font-family: 'PT Mono', monospace;
	padding: 10px;
	align-items: center;
	padding-right: 20px;
	.logo {
		min-width: 20px;
		min-height: 20px;
		margin-right: 10px;
	}
}

.shortsStat {
	.indicator {
		padding: 0;
	}
	min-width: 70px;
	.logo {
		margin: 0;
	}
}


.onclick {
	cursor: pointer;

}
