@import '../../scss/index.scss';

.block {
	text-align: center;
	margin-bottom: 24px;
}

.inputForm[type='text'],
.inputForm[type='password'] {
	margin-left: 5px;
	padding: 11px 21px;
	width: 300px;
	height: 50px;
	outline: none;
	border-radius: 5px;
	transition: 0.25s;
	opacity: 0.6;
	border: 1px solid #d9d9d9;
}

.inputForm[type='text']:focus,
.inputForm[type='password']:focus {
	width: 310px;
	border-color: black;
	opacity: 1;
}

.text {
	margin-left: 5px;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.04em;
}