@import '../../scss/index.scss';

.keyboard {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
}

.key {
	width: 49px;
	height: 49px;
	line-height: 42px;
	font-size: 15px;
	border: 1px solid #c7d0d4;
	margin: 1px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}

.key.active {
	background-color: #c7d0d4;
}

.specialLetters {
	color: #95a0a4;
	font-size: 10px;
}

.backspace {
	width: 75px;
	text-align: right;
}

.tab {
	width: 75px;
	text-align: left;
}

.capslock {
	width: 87px;
	text-align: left;
}

.shift,
.leftShift {
	width: 113px;
	text-align: left;
	color: #95a0a4;
	font-size: 10px;
}

.leftShift {
	text-align: right;
}

.globus {
	margin-left: auto;
}

.space {
	width: 312px;
	text-align: right;
}

.alt,
.enter {
	width: 88px;
	text-align: right;
}