@import '../../scss/index.scss';

.correctChar {
	color: gray;
}
.inputForm {
	width: 100%;
	padding: 10px 0;
	margin-bottom: 20px;
	border: 3px solid transparent;
	border-bottom: 1px dotted #000;
	outline: none;
	font-family: 'PT Mono', monospace;
	font-size: 18px;
	transition: all 0.1s ease-in;
}

.settings {
	align-items: center;
	margin: 10px 0;
	display: flex;
	justify-content: space-around;
}

.inputText {
	width: 100vh;
}
.btn {
	display: flex;
	justify-content: center;
}
.text {
	font-size: 18px;
	margin-bottom: 35px;
}
/* TrainerInput.module.scss */

.container {
	display: flex;
	justify-content: center;
}

.keyboard {
	grid-template-columns: repeat(14, 1fr);
	grid-gap: 5px;
}

.key {
	width: 49px;
	height: 49px;
	line-height: 42px;
	font-size: 15px;
	border: 1px solid #c7d0d4;
	background: #fff;
	margin: 1px;
	padding: 5px;
	text-align: center;
	border-radius: 5px;
}
.uppercase {
	font-size: 14px;
}
h3 {
	margin-bottom: 20px;
}
.lowercase {
	font-size: 10px;
	color: #999;
}

.key.active {
	background-color: #f2f2f2;
}

.text {
	font-size: 18px;
	margin-bottom: 35px;
}
.icon {
	position: relative;
	cursor: pointer;
}
label {
	input {
		margin-right: 5px;
	}
	svg {
		margin-left: 5px;
	}
}
.icon:hover::before {
	content: 'Стандартный режим: В этом режиме Вы можете вводить текст без исправлений сосредотачиваясь на скорости печати. Текст не подсвечивается и не контролируется печать. Строгий режим: В этом режиме Вы должны вводить точное соответствие каждого символа в тексте. Если Вы вводите символ неверно, ввод игнорируется. Текст подсвечивается.';
	position: absolute;
	top: 100%;
	left: 0;
	width: 250px;
	padding: 10px;
	background-color: var(--background-color);
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.4;
	z-index: 1;
}

.incorrectChar {
	color: red;
}
