@import '../../scss/index.scss';

.title {
	margin-top: 62px;
	display: inline-block;
	margin: 0 auto;
	font-family: 'PT Mono', monospace;
	font-weight: 900;
	padding-top: 50px;
	font-size: 38px;
	margin-bottom: 20px;
}

.logo {
	margin-right: 10px;
	width: 40px;
	height: 40px;
}

.statistics {
	display: flex;
	justify-content: center;
}
