@import './reset.scss';
body{
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: 400;
}
.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}



html[data-theme='dark'] {
  --button-text-color: #ffffff;
  --button-background-color: #4e005c;
  --button-border-color: #ba8fc2;

  --background-color: #141D26;
  --icon-color: white;
	--text-color: white;

  --border-color: white;
}

html[data-theme='light'] {
  --button-text-color: black;
  --button-background-color: #f9d4ff;
  --button-border-color: #4e005c;

  --background-color: white;
  --icon-color: black;
	--text-color: black;

  --border-color: black;
}


.wrapper{
  height: 100vh;
}
.themeContainer {
  background-color: var(--background-color);
  transition: background-color 200ms linear;
}
.themeInput{
	border-color: white;
}
.themeInput:focus {
  border-color: var(--border-color) !important;
}
.themeText {
	color: var(--text-color);
	transition: color 500ms linear;
}
.themeLogo {
  color: var(--icon-color);
  transition: color 500ms linear;
}