@import '../../scss/index.scss';

.inputForm{
	width: 100%;
	padding: 10px 0;
	margin-bottom: 20px;
	border: 3px solid transparent;
	border-bottom: 1px dotted #000;
	outline: none;
	font-family: "PT Mono", monospace;
	font-size: 18px;
	transition: all 0.1s ease-in;
}
.btn {
  display: flex;
  justify-content: center;
}
.text {
	font-size: 18px;
	margin-bottom: 35px;
}
/* TrainerInput.module.scss */

.container {
  display: flex;
  justify-content: center;
}

.keyboard {
  grid-template-columns: repeat(14, 1fr);
  grid-gap: 5px;
}

.key {

  width: 49px;
  height: 49px;
  line-height: 42px;
  font-size: 15px;
  border: 1px solid #c7d0d4;
  background: #fff;
  margin: 1px;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
.uppercase {
  font-size: 14px;
}

.lowercase {
  font-size: 10px;
  color: #999;
}

.key.active {
  background-color: #f2f2f2;
}
.g {
  border-color: black;
}